h2, h1, {
    color:rgb(2, 18, 48);
    font-family: 'Russo One', sans-serif;

}

h2{
    font-size: 35px;
}

h1{
    font-size: 50px;

}

body{
    font-family: 'Russo one', sans-serif;
}

main{
    background-image: url(Overlay\ fabric.jpg);
    width: 100%;

}


.download{
    color:rgb(225, 235, 232);
    background-color: rgb(34, 34, 34);
    font-weight: 2000;
    
    text-align: center;
    display:inline-block;
    padding: 6px 12px;
    border-radius: 10px;
    font size: 5000;
}

.box{
    background-color: rgb(34, 34, 34);
    border-radius: 20px
}





.bawah{
    text-align: center;
    color: #ffffff;
  
}





.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img{
    width: 850px;
    height: auto;
}

.container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
       
    
}

.kotak{
    background-color:white;
    padding: 95px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 2, 2);
    width: 850px;
    text-align: center;
    opacity: 0.8;



    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    gap: 10px;
    margin: 25px;
  }

  .kotak-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .kotak-text {
    font-size: 16px;
    color: #000000;
  
}

.latar{
    background-color: rgb(29, 29, 29);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    
}

aside {
    flex: 1;
    text-align: left;
    padding: 20px;
  }

.tempat{
    display: flex;
    align-items: flex-start; 
    gap: 20px;              
    padding: 20px;
}



.gambar{
    display: flex;
    align-items: flex-end;     
    width: auto;  
  height: 500px;
  position: relative;   
  z-index: 10;   


}


.pembuka{
    background-color: rgb(29, 29, 29);
    padding: 10px;
    color: #ffffff;
}

.pencet{
    background-color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
}

.verni{
    z-index: 50;   
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    background-color:  rgb(29, 29, 29);
    padding: 20px;
    font-style: ;
}

@media screen and (max-width: 1000px) {
    #content, aside {
      width: 100%;
      padding: 0;
    }
    main {
        flex-flow: column nowrap;
      }
      main aside {
        align-self: center;
      }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
      }
      main aside {
        align-self: stretch;
      }
}